### Exercise1
Read the file from ``california_cities.csv`` and do the following operation:
- Remove missing entries.
- Keep the columns of *city*, *population_total* and *area_total*; set the *city* column as the index.
- Add a new column of *population_density*, whose value is calculated by $\frac{population\_total}{area\_total}$.
- Select cities with **densisty > 5000** and sort in non-increasing order. [Hint: Use ``sort_values`` function of DataFrame]
- Save the result to ``dense_city.csv``

In [1]:
import pandas as pd
cal_data = pd.read_csv("cityinfo.csv").dropna()
res1 =  cal_data[['city','population_total','area_total']].set_index('city')
res1['population_density'] = res1['population_total']/res1['area_total']
result = res1[res1['population_density']>5000].sort_values(by='population_density',axis=0, ascending=False)
result

                 population_total  area_total  population_density
city
Maywood                     27395       3.052         8976.081258
Cudahy                      23805       3.175         7497.637795
HuntingtonPark              58114       7.811         7440.020484
WestHollywood               34650       4.888         7088.788871
BellGardens                 42072       6.379         6595.391127
Lawndale                    32769       5.113         6408.957559
HawaiianGardens             14254       2.477         5754.541784
Lynwood                     69772      12.536         5565.730696
Hawthorne                   84293      15.779         5342.100260
HermosaBeach                19506       3.695         5279.025710
Bell                        35477       6.783         5230.281586
DalyCity                   101123      19.849         5094.614338

In [2]:
result.to_csv('dense_city.csv') # save to file
pd.read_csv('dense_city.csv') # check the saved file

               city  population_total  area_total  population_density
0           Maywood             27395       3.052         8976.081258
1            Cudahy             23805       3.175         7497.637795
2    HuntingtonPark             58114       7.811         7440.020484
3     WestHollywood             34650       4.888         7088.788871
4       BellGardens             42072       6.379         6595.391127
5          Lawndale             32769       5.113         6408.957559
6   HawaiianGardens             14254       2.477         5754.541784
7           Lynwood             69772      12.536         5565.730696
8         Hawthorne             84293      15.779         5342.100260
9      HermosaBeach             19506       3.695         5279.025710
10             Bell             35477       6.783         5230.281586
11         DalyCity            101123      19.849         5094.614338

### Exercise 2

Given the xml file (log.xml), write a program using xpath to extract the information and output the result in the given format.

log.xml

``<logList>
  <list code="w001" message="Warning1"/>
  <list code="w002" message="Warning2"/>
  <list code="e001" message="Error1"/>
  <list code="e002" message="Error2"/>
  <day date="2007-12-01">
    <log time="10:00:00" code="w001"/>
    <log time="14:00:00" code="e001"/>
  </day>
  <day date="2007-12-02">
    <log time="13:00:00" code="e002"/>
    <log time="15:00:00" code="e001"/>
  </day>
</logList>``

Output Result:

date=2007-12-01 time=10:00:00 message=Warning1

date=2007-12-01 time=14:00:00 message=Error1

date=2007-12-02 time=13:00:00 message=Error2

date=2007-12-02 time=15:00:00 message=Error1

### Hint: 
- To get the element with attribute value equals to a variable, use ``string formatting`` to insert the field value into the XPath expression, e.g., xroot.find('.//log[@time="{0}"]'.format(time)).
- To get the parent element of current element, use ``xroot.find('.//log[@code="w001"]/..'`` (finds the parent element of log element with attribtue code equals to w001).

In [3]:
import xml.etree.ElementTree as et

#TODO for Exercise 1
result = et.Element('result')

xtree = et.parse("log.xml")
xroot = xtree.getroot()
for d in xroot.findall(".//day/log"):
    time = d.attrib.get('time')
    code = d.attrib.get('code')
    date = xroot.find('.//log[@time="{0}"]/..'.format(time)).attrib.get('date')
    message = xroot.find(".//list[@code='{0}']".format(code)).attrib.get('message')
    print("date={0} time={1} message={2}".format(date,time,message))

date=2007-12-01 time=10:00:00 message=Warning1
date=2007-12-01 time=14:00:00 message=Error1
date=2007-12-02 time=13:00:00 message=Error2
date=2007-12-02 time=15:00:00 message=Error1

### Exercise 4

Revise your program in Exercise1 to store the result in a DataFrame and write to ``result.json``.

                      Output:

|- |date|time|message|
|----|----|----|---|
|0|2007-12-01|10:00:00|Warning1|
|1|2007-12-01|14:00:00|Error1|
|2|2007-12-02|13:00:00|Error2|
|3|2007-12-02|15:00:00|Error1|

In [4]:
import xml.etree.ElementTree as et
import pandas as pd
re_dict={}
date_list=[]
time_list=[]
message_list=[]
#TODO for Exercise 2
result = et.Element('result')

xtree = et.parse("log.xml")
xroot = xtree.getroot()
for d in xroot.findall(".//day/log"):
    time = d.attrib.get('time')
    code = d.attrib.get('code')
    date = xroot.find('.//log[@time="{0}"]/..'.format(time)).attrib.get('date')
    message = xroot.find(".//list[@code='{0}']".format(code)).attrib.get('message')
    date_list.append(date)
    time_list.append(time)
    message_list.append(message)
re_dict['date'] = date_list
re_dict['time'] = time_list
re_dict['message'] = message_list
df_re = pd.DataFrame(re_dict)
df_re.to_json("result.json")
df_re

         date      time   message
0  2007-12-01  10:00:00  Warning1
1  2007-12-01  14:00:00    Error1
2  2007-12-02  13:00:00    Error2
3  2007-12-02  15:00:00    Error1

### Exercise 3

Revise your program in Exercise1 to output the result in the following xml format (the order of attributes are  ) and write to ``result.xml``.

result.xml

``<result>
  <log date="2007-12-01" message="Warning1" time="10:00:00" />
  <log date="2007-12-01" message="Error1" time="14:00:00" />
  <log date="2007-12-02" message="Error2" time="13:00:00" />
  <log date="2007-12-02" message="Error1" time="15:00:00" />
</result>``

In [5]:
import xml.etree.ElementTree as et
from xml.dom import minidom


result = et.Element('result')
#TODO for Exercise 3

xtree = et.parse("log.xml")
xroot = xtree.getroot()
for d in xroot.findall(".//day/log"):
    time = d.attrib.get('time')
    code = d.attrib.get('code')
    date = xroot.find('.//log[@time="{0}"]/..'.format(time)).attrib.get('date')
    message = xroot.find(".//list[@code='{0}']".format(code)).attrib.get('message')
    log = et.SubElement(result,'log',{'date':date,'time':time, 'message':message})


# Preety xml formats
xmlstring =  minidom.parseString(et.tostring(result, encoding='UTF-8')).toprettyxml(indent="    ")
with open('result.xml','w') as f:
    f.write(xmlstring)
    f.close()
# Test whether write succesfully
print(open('result.xml','r').read())

<?xml version="1.0" ?>
<result>
    <log date="2007-12-01" message="Warning1" time="10:00:00"/>
    <log date="2007-12-01" message="Error1" time="14:00:00"/>
    <log date="2007-12-02" message="Error2" time="13:00:00"/>
    <log date="2007-12-02" message="Error1" time="15:00:00"/>
</result>